.m-slide {
    height: 477px;
    margin: 0 auto;
    display: block;
}
.m-bg-slide {
    background: #b8cccc; /* For browsers that do not support gradients */
    background: radial-gradient(#b8cccc, #ffc2f3, #b8cccc); /* Standard syntax (must be last) */
}

.m-tab-i {
    margin: 0 auto;
}

.m-cont-w {
    width: 20%;
    float: left;
}

.m-bg-b8cccc {
    background: #b8cccc;
}

.m-top-right-bottom-left-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.m-font-size-3em {
    font-size: 3em;
}

.m-clear-left {
    clear: left;
}

.m-margin-top-15pt {
    margin-top: 15%;
}

.m-margin-bottom-15px {
    margin-bottom: 15px;
}

.m-margin-top-bottom-15px {
    margin-top: 15px;
    margin-bottom: 15px;
}

.grid-item {
    width: 25%;
}

.grid-item-c {
    width: 33.33%
}

@media screen and (max-width: 544px) {
    .grid-item {
        width: 100%;
    }
}
@media screen and (max-width: 768px) and (min-width: 545px) {
    .grid-item {
        width: 50%;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .grid-item {
        width: 33.33%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .grid-item {
        width: 25%;
    }
}

.grid-item img, .grid-item-c img {
    width: 100%;
    margin:0 auto 20px auto;
    display: block;
    border-radius: 5px;
    transition:         background-position 2s ease-out;
    -moz-transition:    background-position 2s ease-out;
    -webkit-transition: background-position 2s ease-out;
    -o-transition:      background-position 2s ease-out;
}

.m-bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #b8cccc;
    opacity: 0.7;
    border-radius: 5px;
    transition:         background-position 2s ease-out;
    -moz-transition:    background-position 2s ease-out;
    -webkit-transition: background-position 2s ease-out;
    -o-transition:      background-position 2s ease-out;
}

.m-s-t {
    position: absolute;
    top: 10px;
    left: 10px;
}

.m-positon-p {
    position: relative;
    background: #b8cccc;
    width: 95%;
    margin: 0 auto;
    display: block;
    transition:         background-position 2s ease-out;
    -moz-transition:    background-position 2s ease-out;
    -webkit-transition: background-position 2s ease-out;
    -o-transition:      background-position 2s ease-out;
}

.m-none {
    display: none;
    transition:         background-position 2s ease-out;
    -moz-transition:    background-position 2s ease-out;
    -webkit-transition: background-position 2s ease-out;
    -o-transition:      background-position 2s ease-out;
}

.m-positon-p:hover .m-none {
    display: block;
    transition:         background-position 2s ease-out;
    -moz-transition:    background-position 2s ease-out;
    -webkit-transition: background-position 2s ease-out;
    -o-transition:      background-position 2s ease-out;
}

.m-opacity-7 {
    opacity: 0.7;
}

.m-opacity-9 {
    opacity: 0.9;
}

.m-margin-top-bottom-30px {
    margin: 30px 0;
}

.m-margin-top-57px {
    margin-top: 57px;
}

.m-margin-top-150px {
    margin-top: 150px;
}
.m-margin-top-110px {
    margin-top: 110px;
}

.m-collection-w {
    width: 98%;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
}

.m-border-darius-5 {
    border-radius: 5px;
}

.m-img-w {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.m-b-img {
    width: auto;
    max-height: 135px;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    border-radius: 5px;
    border: 1px #ccc;
}
.m-list-style-type-none {
    list-style-type: none;
}

.loading {
    position: fixed; background: #cccccc; top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.7;
}
.loading-child {
    position: absolute;
    top: 45%; left: 45%;
    transition: 1s;
}
.m-height-150px{
    height: 150px;
}
.m-height-250px{
    height: 250px;
}
.m-max-width-100pt {
    max-width: 100%;
}

.m-img-b {
    height: auto;
    width: auto;
    max-height: 140px;
    margin: 0 auto;
    display: block;
}

.m-error {
    position: fixed;
    opacity: 0.7;
    right: 15px;
    top: 15px;
    z-index: 99999;
}

.m-remove-item {
    top: 5px;
    right: 5px;
    transition: 1s;
}
.u-remove-a-file:hover {
    font-size: 24px;
    transition: 1s;
}

.m-border-img {
    border: 10px solid #ccc;
}

#backgroup {
    content: ' ';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.m-tab {
    border: solid 1px #c6c8ca;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 2px;
    transition:         background-position 1s ease-out;
    -moz-transition:    background-position 1s ease-out;
    -webkit-transition: background-position 1s ease-out;
    -o-transition:      background-position 1s ease-out;
}

.m-tab-c {
    position: absolute;
    top: 0;
    right: 150%;
}

.m-tab, .m-tab-c {
    width: 2.2rem;
    height: 2.2rem;
}
.m-tab:hover  .m-tab-icon {
    display: block;
    background: #1b1e21;
    transition:         background-position 1s ease-out;
    -moz-transition:    background-position 1s ease-out;
    -webkit-transition: background-position 1s ease-out;
    -o-transition:      background-position 1s ease-out;
}
.m-bg {
    position: absolute;
    background: #1d2124;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -55px;
    border-radius: 0 15px 15px 0;
    z-index: -1;
    transition:         background-position 1s ease-out;
    -moz-transition:    background-position 1s ease-out;
    -webkit-transition: background-position 1s ease-out;
    -o-transition:      background-position 1s ease-out;
}
.m-tab-icon {
    display: none;
}

.m-menu-type, .m-type-a, .m-tag{
    transition: 1s ease-out;
}

 {
    transition: 1s ease-out;
}

.m-menu-type:hover {
    background: #f8f9fa;
}

.m-menu-type:hover .m-type-a {
    margin-left: 10px;
    transition: 1s ease-out;
}



.m-tag:hover {
    background: #bf5329;
    transition: 1s ease-out;
    color: #f8f9fa;
}