.header-up {
    top: -90px;
}
header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
    z-index: 9999;
}
.nav-up {
    top: -90px;
}
.m-margin-top-57px {
    transition: top 0.7s ease-in-out;
}