.m-cont-w {
    width: 20%;
    float: left;
}

.m-bg-b8cccc, .m-bg-img, .m-positon-p {
    background: #b8cccc;
}

.m-font-size-3em {
    font-size: 3em;
}

.m-clear-left {
    clear: left;
}

.m-margin-top-15pt {
    margin-top: 15%;
}

.m-margin-bottom-15px, .m-margin-top-bottom-15px {
    margin-bottom: 15px;
}

.m-margin-top-bottom-15px {
    margin-top: 15px;
}

.grid-item {
    width: 20%;
}

.grid-item-c {
    width: 33.33%
}

@media screen and (max-width: 544px) {
    .grid-item {
        width: 50%;
    }
}
@media screen and (max-width: 768px) and (min-width: 545px) {
    .grid-item {
        width: 33.33%;
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .grid-item {
        width: 25%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
    .grid-item {
        width: 20%;
    }
}

.grid-item img, .grid-item-c img {
    width: 100%;
    margin:0 auto 20px auto;
    border-radius: 5px;
}
.grid-item img, .grid-item-c img, #loading, .m-tab:hover  .m-tab-icon, .m-img-b, .m-b-img,.m-img-w, .m-collection-w, .m-positon-p, .m-positon-p:hover .m-none  {
    display: block;
}

.m-bg-img, .m-top-right-bottom-left-0, #loading, .loading {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.m-bg-img, .m-s-t,.m-bg, .loading-child, .m-tab-c {
    position: absolute;
}

.m-positon-p, #loading-image {
    position: relative;
}

.m-bg-img {
    border-radius: 5px;
}

.m-bg-img, .m-positon-p, .m-none, .m-positon-p:hover .m-none, .grid-item img, .grid-item-c img, .loading-child, .m-remove-item, .u-remove-a-file:hover, .m-tab, .m-tab:hover .m-tab-icon, .m-bg, .m-tag:hover, .m-menu-type:hover .m-type-a,.m-menu-type, .m-type-a, .m-tag {
    transition:         background-position 1.5s ease-out;
    -moz-transition:    background-position 1.5s ease-out;
    -webkit-transition: background-position 1.5s ease-out;
    -o-transition:      background-position 1.5s ease-out;
}

.m-s-t {
    top: 10px;
    left: 10px;
}

.m-positon-p {
    width: 95%;
}

.m-positon-p, .m-img-b, .m-img-w, .m-collection-w {
    margin: 0 auto;
}

.m-none, .m-tab-icon {
    display: none;
}

.m-opacity-7, .m-bg-img, .loading, .m-error {
    opacity: 0.7;
}

.m-opacity-9 {
    opacity: 0.9;
}

.m-margin-top-bottom-30px {
    margin: 30px 0;
}

.m-margin-top-57px {
    margin-top: 57px;
}

.m-margin-top-150px {
    margin-top: 150px;
}
.m-margin-top-110px {
    margin-top: 110px;
}

.m-collection-w {
    width: 98%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.m-border-darius-5 {
    border-radius: 5px;
}

.m-img-w {
    width: 90%;
}

.m-b-img {
    width: auto;
    max-height: 135px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
    border: 1px #ccc;
}
.m-list-style-type-none {
    list-style-type: none;
}

.loading {
    background: #cccccc;
}
.loading, .m-error, .m-tab, #loading {
    position: fixed;
}
.loading-child {
    top: 45%; left: 45%;
}
.m-height-150px{
    height: 150px;
}
.m-height-250px{
    height: 250px;
}
.m-max-width-100pt {
    max-width: 100%;
}

.m-img-b {
    height: auto;
    width: auto;
    max-height: 140px;
}

.m-error {
    right: 15px;
    top: 15px;
    z-index: 99999;
}

.m-remove-item {
    top: 5px;
    right: 5px;
}
.u-remove-a-file:hover {
    font-size: 24px;
}

.m-border-img {
    border: 10px solid #ccc;
}

.m-tab {
    border: solid 1px #c6c8ca;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 2px;
}

.m-tab-c {
    top: 0;
    right: 150%;
}

.m-tab, .m-tab-c {
    width: 2.2rem;
    height: 2.2rem;
}
.m-tab:hover .m-tab-icon, .m-bg {
    background: #1b1e21;
}
.m-bg {
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -55px;
    border-radius: 0 15px 15px 0;
    z-index: -1;
}

.m-menu-type:hover {
    background: #f8f9fa;
}

.m-menu-type:hover .m-type-a {
    margin-left: 10px;
}

.m-tag:hover {
    background: #bf5329;
    color: #f8f9fa;
}

#loading {
    width: 100%;
    height: 100%;
    z-index: 99999;
    text-align: center;
}

#loading-image {
    top: 40%;
    z-index: 9999999;
}